.example-form {
	min-width: 150px;
	max-width: 600px;
	width: 100%;
	font-size: 80%;
  }
  
  .example-full-width {
	width: 100%;
  }
.Reg-font{
	color: white;
}

//.Reg-button{}

.mat-raised-button:hover {
	background-color:orangered;
}
.mat-raised-button{
	background-color: black;
	padding: 10px 122px;
}
.footer{
	background-color: #1d2124;
	color: whitesmoke;
}
.w275 col{
	align-content: center;
}
/* Styles for the ink bar */
.mat-ink-bar {
    background-color: gold;
}