<div>
    <toolbar></toolbar>
  </div>
  
  <!-- <div id="main-content" class="site-main clearfix" style="">
    <div class="card-pf " style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);"> -->
      <!-- <header class="login-pf-header">
        <h1 id="kc-page-title">
          <div style="font-size: 24px; font-weight:bold; padding: 20px 0px 0px 0px;">GEPF Self Service.<span
              style="margin-left: 5px; display:inline-block; width: 260px; height: 3px; background-color: #de6d45;"></span>
          </div>
  
        </h1>
      </header> -->
      <div class="login-pf-page" style="text-align: center;">
      <div id="kc-header" class="login-pf-page-header">
        <div id="kc-header-wrapper" class="">YOU'RE REGISTERED!</div>
       </div>
      </div>
  
      <div id="kc-content">
        <div id="kc-content-wrapper">
  
  
          
          
          <div id="wrapper">
            <div id="dialog" style="background-color: white; text-align: left;">
               <h4 class="heading clearfix " style="font-weight:700;">
                    Welcome to my GEPF<span>
                </span><span
                style="margin-left: 2px; display:inline-block; width: 50px; height: 3px; background-color: #de6d45;"></span></h4>
                The Government Employees Pension Fund (GEPF) is a defined benefit fund that manages pensions and related benefits on behalf of government employees in South Africa. Established in 1996, it is the largest pension fund in South Africa and one of the largest pension funds in Africa and the world. Its current benefit structure offers members:
                <br><br>
                <ul>
                    <li style="color: #000;">Withdrawal benefits;</li>
                    <li style="color: #000;">Retirement benefits;</li>
                    <li style="color: #000;">Ill-health or Disability benefits; and</li>
                    <li style="color: #000;">Death benefits.</li>
                    </ul>
                    
                    <h4 class="heading clearfix " style="font-weight:700;">
                        What's next?<span>
                    </span><span
                    style="margin-left: 2px; display:inline-block; width: 50px; height: 3px; background-color: #de6d45;"></span></h4>

                    Sms or email will be sent to you with <span style="font-weight: bold;">TEMPORARY PASSWORD</span> to activate your account. Please go to our <a href="http://127.0.0.1:4220/" style="font-weight: bold;">login page</a>, login with either you 13-digit South African ID Number
                    or Passport Number and temporary password. Upon first time successfull login you will be allowed to create your own password.
                    <br><br>
                    Altervatively, if you haven't received your temporary password please to go our <a href="/" style="font-weight: bold;">forgot password page</a>, login with either you 13-digit South African ID Number
                    or Passport Number and temporary password. Upon first time successfull login you will be allowed to create your own password.
                    <br><br>

                    <h4 class="heading clearfix " style="font-weight:700;">
                        Need help?<span>
                    </span><span
                    style="margin-left: 2px; display:inline-block; width: 50px; height: 3px; background-color: #de6d45;"></span></h4>
                    We're deligted to assist you along the way by calling our toll free number 0800 117 669 or send us an email selfservice@gepf.co.za and we will be happy to answer your question.

                    <br><br>
                    <div class="grid">
                        <div> <h4 class="heading clearfix " style="font-weight:700;">Download the GEPF App today</h4>
                            <span style="font-weight: bold;">You deserve an app!</span> convenient access at your fingertips to all your benefits and much more.</div>
                            <br>
                        <div style="float: left;"> 
                            <img src="https://gepfimages.blob.core.windows.net/public/Screenshot%202020-05-17%20at%2010.48.37.png" style="width: 120px;">
                        </div>   
                        <div class="phonepic" style="float: left;">
                            <img src="https://gepfimages.blob.core.windows.net/public/Screenshot%202020-05-17%20at%2010.49.07.png" style="width: 120px;">
                        </div>
 
                    </div>
                    
            </div>
          </div>
  
  
  
  
  
        </div>
      </div>
    <!-- </div>
  
  </div> -->
  <br>

  <div class="footer-promotion" style="background-image: url(https://www.gepf.co.za/wp-content/uploads/2019/03/promo-bg.png); background-repeat: no-repeat; background-position: center center; background-size: cover;">
    <div class="finax-container">
      <div class="inner"><div class="title-wrap">
  <div class="text-wrap">
    <div class="promo-icon"><img alt="Icon" data-src="https://www.gepf.co.za/wp-content/uploads/2019/07/stop_fraud_helpline.png" class=" lazyloaded" src="https://www.gepf.co.za/wp-content/uploads/2019/07/stop_fraud_helpline.png" loading="lazy"><noscript><img src="https://www.gepf.co.za/wp-content/uploads/2019/07/stop_fraud_helpline.png" alt="Icon" /></noscript></div>
    <h5 class="promo-title">FRAUD HELPLINE - 0800 203 900</h5>
  </div>
</div><div class="button-wrap">
  <a href="https://www.gepf.co.za/contact-us/" class="promo-btn">
    CONTACT US
  </a>
</div></div>
    </div>
  </div>

  <footer id="footer" style="">
    <div id="footer-widgets" class="finax-container">
      <div class="footer-grid special-grid gutter-35">
              <div class="w340 col">
          <div id="text-1" class="widget widget_text"><h2 class="widget-title"><span>CLIENT CENTRE</span></h2>			<div class="textwidget"><p>GEPF Administration Office<br>
  Building 2A, Trevenna Campus<br>
  Corner Meintjies and Francis Baard Street<br>
  Sunnyside, Pretoria</p>
  <p>Tel: +27 80 011 7669<br>
  Fax: +27 12 326 2507</p>
  </div>
      </div>			</div>
  
                <div class="w220 col">
            <div id="text-2" class="widget widget_text"><h2 class="widget-title"><span>BOARD OF TRUSTEES</span></h2>			<div class="textwidget"><p>Tel: +27 12 424 7330</p>
  <p>For more information,<br>
  click <a href="https://www.gepf.co.za/board-of-trustees/">here</a></p>
  </div>
      </div><div id="widget_socials-1" class="widget widget_socials"><div class="socials clearfix" style="margin: 0 -3px"><div class="icon" style="padding: 0 3px;"><a target="_blank" title="facebook" href="https://www.facebook.com/GovtEmployeesPensionFund/posts/" style="margin-bottom:3px;width:40px;height:40px;line-height:42px;border-radius:20px"><i class="coreicon-facebook"></i></a></div><div class="icon" style="padding: 0 3px;"><a target="_blank" title="twitter" href="https://twitter.com/#!/GEPF_SA" style="margin-bottom:3px;width:40px;height:40px;line-height:42px;border-radius:20px"><i class="coreicon-twitter"></i></a></div></div></div>				</div>
              
                <div class="w240 col">
            <div id="widget_links-2" class="widget widget_links"><h2 class="widget-title"><span>GEPF Conference</span></h2>        <ul class="links-wrap clearfix  no-arrow">
              
                          <li style="">
                              <a href="https://www.gepfconference.co.za/" style="">
                                  <i class="fa fa-" style=""></i>
                                  GEPF Conference
                              </a>
                          </li>        </ul>
  
      </div><div id="widget_links-1" class="widget widget_links"><h2 class="widget-title"><span>QUICK LINKS</span></h2>        <ul class="links-wrap clearfix col2 no-arrow">
              
                          <li style="">
                              <a href="https://www.gepf.co.za/benefits/" style="">
                                  <i class="fa fa-" style=""></i>
                                  Benefits
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.gepf.co.za/forms/" style="">
                                  <i class="fa fa-" style=""></i>
                                  Forms
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.gepf.co.za/investments/" style="">
                                  <i class="fa fa-" style=""></i>
                                  Investments
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.gepf.co.za/vacancies/" style="">
                                  <i class="fa fa-" style=""></i>
                                  Vacancies
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.gepf.co.za/tenders/" style="">
                                  <i class="fa fa-" style=""></i>
                                  Tenders
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.gepf.co.za/contact-us/" style="">
                                  <i class="fa fa-" style=""></i>
                                  Contact Us
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.pscbc.co.za/" style="">
                                  <i class="fa fa-" style=""></i>
                                  PSCBC
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.worldbank.org/" style="">
                                  <i class="fa fa-" style=""></i>
                                  World Bank
                              </a>
                          </li>
                          <li style="">
                              <a href="http://www.treasury.gov.za/" style="">
                                  <i class="fa fa-" style=""></i>
                                  National Treasury
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.pic.gov.za/" style="">
                                  <i class="fa fa-" style=""></i>
                                  PIC
                              </a>
                          </li>
                          <li style="">
                              <a href="http://www.dpsa.gov.za/" style="">
                                  <i class="fa fa-" style=""></i>
                                  DPSA
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.unpri.org/" style="">
                                  <i class="fa fa-" style=""></i>
                                  PRI
                              </a>
                          </li>
                          <li style="">
                              <a href="https://www.gpaa.gov.za/" style="">
                                  <i class="fa fa-" style=""></i>
                                  GPAA
                              </a>
                          </li>        </ul>
  
      </div>				</div>
        
                <div class="w275 col">
                <div id="recent-posts-3" class="widget widget_recent_entries">		<h2 class="widget-title"><span>Recent News</span></h2>		<ul>
                        <li>
            <a href="https://www.gepf.co.za/gepf-to-take-action-following-report-of-the-judicial-commission-of-inquiry-into-allegations-of-impropriety-at-the-public-investment-corporation/">GEPF to take action following report of the Judicial Commission of Inquiry into Allegations of Impropriety at the Public Investment Corporation</a>
                    </li>
                        <li>
            <a href="https://www.gepf.co.za/coronavirus-covid-19-message/">Coronavirus (COVID-19) Message</a>
                    </li>
                        <li>
            <a href="https://www.gepf.co.za/statement-by-president-cyril-ramaphosa-on-measures-to-combat-covid-19-epidemic-2/">STATEMENT BY PRESIDENT CYRIL RAMAPHOSA ON MEASURES TO COMBAT COVID-19 EPIDEMIC</a>
                    </li>
                        <li>
            <a href="https://www.gepf.co.za/gepf-pensioners-will-receive-a-3-6-annual-pension-increase-as-of-1-april-2020/">GEPF pensioners will receive a 3.6% annual pension increase as of 1 April 2020</a>
                    </li>
            </ul>
      </div>				</div>
            </div>
    </div>
  </footer>

  <div id="bottom" style="">
    <div class="finax-container">
        <div class="bottom-bar-inner-wrap">
            <div class="bottom-bar-copyright">
                                    <div id="copyright">
                        © 2020 GEPF. All rights reserved. | <a href="https://www.gepf.co.za/disclaimer/">Disclaimer</a>  
|  <a href="https://www.gepf.co.za/fraud-line/">Fraud Line</a>  
|  <a href="https://www.gepf.co.za/contact-us/">Contact Us</a>

                    </div>
                            </div><!-- /.bottom-bar-copyright -->

            <div class="bottom-bar-menu">
                            </div><!-- /.bottom-bar-menu -->
        </div>
    </div>
</div>