/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@include mat-core();

$funeral-benefits-primary: mat-palette($mat-green);
$funeral-benefits-accent: mat-palette($mat-orange, A200, A100, A400);
$funeral-benefits-warn: mat-palette($mat-red);

//Creating the them object for the application
$funeral-benefits-theme: mat-light-theme($funeral-benefits-primary, $funeral-benefits-accent, $funeral-benefits-warn);

// now we include the styles to the core and all the components that will be used in the application
@include angular-material-theme($funeral-benefits-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
